body
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif
  color: #222
  
article
  border: 1px solid #eee
  padding: 10px
  margin: 10px

input[name="title"],
textarea[name="text"]
  width: 400px
  padding: 10px
  border: 1px solid #eee
  background: transparent

input[name="title"]
  font-size: 20px
