form(action=(id ? '/items/' + id : '/items') method='post')
  .field
    input(name='title' placeholder='Title' value=title)
  .field
    textarea(name='text' placeholder='Text')= text
  .field
    button(type='submit') submit