extends ../layout.jade

block title
  title= title

block content
  article
    h1= title
    = text
    p 
      = "createdAt:"
      = createdAt
      
    p
      = "updatedAt:"
      = updatedAt

    .meta
      a(href="/items/"+id+"/edit") edit