extends ../layout.jade

block title
  title= username

block content
  article
    h1= username
    = password
    p 
      = "createdAt:"
      = createdAt
      
    p
      = "updatedAt:"
      = updatedAt